<div class="col-lg-3 order-lg-first">
    <div class="side-custom-menu">
        <h2>TOP CATEGORIES</h2>

        <div class="side-menu-body">
            <ul>
                <li><a href="#"><i class="icon-cat-shirt"></i>Fashion</a></li>
                <li><a href="#"><i class="icon-cat-computer"></i>Electronics</a></li>
                <li><a href="#"><i class="icon-cat-gift"></i>Gifts</a></li>
                <li><a href="#"><i class="icon-cat-couch"></i>Home & Garden</a></li>
                <li><a href="#"><i class="icon-cat-computer"></i>Music</a></li>
                <li><a href="#"><i class="icon-cat-sport"></i>Sports</a></li>
            </ul>

            <a href="#" class="btn btn-block btn-primary">HUGE SALE - <strong>70%</strong> Off</a>
        </div><!-- End .side-menu-body -->
    </div><!-- End .side-custom-menu -->
</div><!-- End .col-lg-3 -->
